/* mobile first */
.App {
  text-align: center;
  margin: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* medium style */
@media (min-width: 768px) {
  .App {
    margin: 2rem;
  }

}

/* large style */
@media (min-width: 1024px) and (max-width: 1280px) {
  .App {
    margin: 4rem;
  }
}
